<robot name="010_potted_meat_can">
	<link name="_name">
		<visual>
			<origin xyz="0.032840352216858736 0.026352714397455963 -0.037830850091359614" rpy="0 0 0" />
			<geometry>
				<mesh filename="010_potted_meat_can/google_16k/textured.obj" scale="1 1 1" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="010_potted_meat_can/google_16k/textured_vhacd.obj" scale="1 1 1" />
			</geometry>
		<origin xyz="0.032840352216858736 0.026352714397455963 -0.037830850091359614" rpy="0 0 0" /></collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>